.terraform*
terraform.tfstate*

node_modules/
secrets.tfvars
dev/
.idea/
*.backup

**/variables.tfvars
/tmp/build-errors.log
/tmp/terraform-provider-clickhousedbops
/terraform-provider-clickhousedbops
